apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-deployment
  labels:
    app: voting-app
spec:
  replicas: 1
  selector:
    matchLabels:
      name: postgres-pod
      app: voting-app
  template:
metadata:
  name: postgres-pod
  labels:
    name: postgres-pod
    app: voting-app
spec:
  containers:
  - name: postgres
    image: postgres:9.4
    env:
      - name: POSTGRES_USER
        value: POSTGRES
      - name: POSTGRES_DB
        value: POSTGRES
      - name: POSTGRES_PASSWORD
        value: POSTGRES
    ports:
    - containerPort: 5432
